.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imgSize{
  max-width: 250px;
  max-height: 250px;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-between ;
  padding: 20px;
}
